on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

name: Tests

jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - uses: actions/checkout@v2
      - name: Prepare environment
        uses: newrelic/puppet-install/.github/actions/installation@main
      - name: Run tests
        uses: newrelic/puppet-install/.github/actions/tests@fix-tests
